<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Eldest Director</h1>
  <p>The eldest director in our dataset right now is <%= @eldest_director.name %>, born on <%= @eldest_director.dob.strftime("%B %e, %Y") %>.</p>
</body>
</html>
